{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "commonjs",
        "targets": "> 0.25%, not dead",
        "forceAllTransforms": true
      }
    ],
    "@babel/preset-react"
  ],
  "env": {
    "development": {
      "presets": [
        [
          "@babel/preset-react",
          {
            "development": true
          }
        ]
      ]
    }
  }
}